@font-face {
  font-family: "KakaoBig";
  src: url(../fonts/KakaoBig.woff) format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "KakaoBig";
  src: url(../fonts/KakaoBig-Bold.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.woff2) format('woff2');
  font-weight: 700;
}